.container {
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .emptyListMsg {
    text-align: center;
  }

  .clientsHeader {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
  }

  .clientItem {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    border: 1px solid #C0C0C0;
    margin: 10px auto;
    height: 50px;

    p {
      margin: 10px;

      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    button {
      width: fit-content;
      margin: auto;
    }
  }
}